/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

img {
  width: 100%;
  border: 8px solid black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  margin: 1rem;
  font-family: 'Unbounded', cursive;
  font-size: 3.5em;
}

/* Image Styling */

.image-gallery {
  display: flex;
  background-color: tan;
  width: 85%;
  margin: 2rem auto;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  gap: 3rem;
}

.image-size {
  width: 27%;

}

