/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap");
/* Space Grotesk */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Unbounded:wght@700&display=swap");

/* Global styles */
.App {
  text-align: center;
}

body {
  background-color: tan;
}

button {
  width: 10%;
  height: 41%;
}

/* Header styles */
.App-header {
  background-color: black;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  margin: 1rem;
  font-family: "Unbounded", cursive;
  font-size: 3.5em;
}

/* Image gallery styles */
.gallery-item-container {
  border: 10px solid black;
  box-shadow: 14px 9px 24px -5px black;
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 12px;
}

.image-gallery {
  display: flex;
  width: 85%;
  margin: 2rem auto;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.image-box {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}

.like-section {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.3rem;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 23px;
}

.image-description {
  background-color: black;
  color: rgb(255, 255, 255);
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 200;
  padding: 4.3rem;
  text-align: center;
  object-fit: cover;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  max-width: 400px;
  max-height: 300px;
}
